@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --font-size-media: 1rem;
  --sound-line-width: 2px;
  --sound-line-height: 50px;
  --sound-btn-icon-size: 15px;
  --sound-btn-padding: 5px;
}
@media (max-width: 575.98px) {
  :root {
    --font-size-media: 0.3rem;
    --sound-btn-icon-size: 6px;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  color: var(--text-color);
  background: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

input,
textarea {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
textarea:-webkit-autofill:hover {
  transition: background-color 1s 9999s;
  -webkit-text-fill-color: var(--text-color);
  caret-color: var(--text-color);
}

.icon {
  filter: var(--icon-color);
}

@media (max-width: 575.98px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

.separate {
  margin: var(--margin) 0;
  height: 1px;
  background: var(--separate-color);
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
@keyframes shake {
  0%, 100% {
    translate: 0;
  }
  25%, 75% {
    translate: 4px;
  }
  50% {
    translate: -4px;
  }
}
.dark {
  --text-color: #858b93;
  --text-color-highlight: #f9f9f9;
  --body-bg: #131517;
  --btn-bg: #282c30;
  --linear-primary-bg: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  --linear-decorator-bg: linear-gradient(
    180deg,
    #111118 6.06%,
    rgba(43, 43, 61, 0) 119.38%
  );
  --decorator-shadow: 0 40px 30px 0 #313141 inset;
  --dashboard-bg: #1f2326;
  --dashboard-content-bg: #0d1012;
  --dashboard-task-bg: #14181b;
  --dashboard-task-active-bg: #2b2d2f;
  --dashboard-task-active-color: #d5d5d6;
  --dashboard-icon-bg: #151a1e;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(5101%) hue-rotate(355deg) brightness(124%) contrast(95%);
  --collection-bg: #0d1012;
  --collection-item-bg: #14181b;
  --media-icon-color-active: brightness(0) saturate(100%) invert(98%) sepia(73%)
    saturate(1302%) hue-rotate(42deg) brightness(99%) contrast(84%);
  --media-icon-color-active: brightness(0) saturate(100%) invert(98%) sepia(73%)
    saturate(1302%) hue-rotate(42deg) brightness(99%) contrast(84%);
  --node-bg: #27292c;
  --rectangle-item-bg: #191b1d;
}

.header {
  background: #131517;
}

.hero {
  padding: 90px 0 70px;
}
@media (max-width: 575.98px) {
  .hero {
    position: relative;
    padding: 0 22px;
    margin-top: 32px;
  }
}
.hero__content {
  display: flex;
  gap: 20px;
  padding: 0 28px;
}
@media (max-width: 575.98px) {
  .hero__content {
    padding: 0;
  }
}
.hero__decorator {
  background: var(--linear-decorator-bg);
  box-shadow: var(--decorator-shadow);
  border-radius: 50%;
  display: block;
}
.hero__decorator-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media (max-width: 575.98px) {
  .hero__decorator-list {
    position: absolute;
    flex-direction: row;
    gap: 10px;
  }
  .hero__decorator-list-left {
    top: 0;
    left: 50px;
  }
  .hero__decorator-list-right {
    right: 27px;
    top: 160px;
    flex-direction: column;
  }
}
.hero__decorator--large {
  width: 120px;
  height: 120px;
}
@media (max-width: 575.98px) {
  .hero__decorator--large {
    width: calc(var(--decorator-width) / 4);
    height: calc(var(--decorator-height) / 4);
  }
}
.hero__decorator--medium {
  width: 40px;
  height: 40px;
}
@media (max-width: 575.98px) {
  .hero__decorator--medium {
    width: calc(var(--decorator-width) / 6);
    height: calc(var(--decorator-height) / 6);
  }
}
.hero__decorator--small {
  width: 25px;
  height: 25px;
}
@media (max-width: 575.98px) {
  .hero__decorator--small {
    width: calc(var(--decorator-width) / 9);
    height: calc(var(--decorator-height) / 9);
  }
}
.hero__decorator--extra-small {
  width: 14px;
  height: 14px;
}
@media (max-width: 575.98px) {
  .hero__decorator--extra-small {
    width: calc(var(--decorator-width) / 13);
    height: calc(var(--decorator-height) / 13);
  }
}
.hero__main {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__title {
  color: #f9f9f9;
  font-size: 6rem;
  font-weight: 700;
  line-height: 116.667%;
}
@media (max-width: 575.98px) {
  .hero__title {
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
  }
}
.hero__management {
  --decorator-width: 10px;
  position: relative;
  display: inline-flex;
  border: 1px dashed #fff;
}
.hero__management--decorator {
  position: absolute;
  width: min(var(--decorator-width, 9px));
  height: 10px;
}
.hero__management--decorator-1 {
  background: #ae8ff9;
  top: calc(-1 * var(--decorator-width));
  left: calc(-1 * var(--decorator-width));
  border-radius: 50% 50% 0 50%;
}
.hero__management--decorator-2 {
  background: #ef8f00;
  top: calc(-1 * var(--decorator-width));
  right: calc(-1 * var(--decorator-width));
  border-radius: 50% 50% 50% 0;
}
.hero__management--decorator-3 {
  background: #ff7667;
  bottom: calc(-1 * var(--decorator-width));
  left: calc(-1 * var(--decorator-width));
  border-radius: 50% 0 50% 50%;
}
.hero__management--decorator-4 {
  background: #0cce84;
  bottom: calc(-1 * var(--decorator-width));
  right: calc(-1 * var(--decorator-width));
  border-radius: 0 50% 50% 50%;
}
.hero__highlight {
  background: var(--linear-primary-bg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__desc {
  margin-top: 34px;
  max-width: 447px;
  color: #858b93;
  font-size: 1.6rem;
  line-height: 162.5%;
}
.hero__actions {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .hero__actions {
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
  }
}
.hero__actions-btn {
  width: 200px;
}
@media (max-width: 767.98px) {
  .hero__actions-btn {
    --btn-height: 39px;
    --btn-width: 143px;
  }
}
.hero__media {
  display: flex;
  justify-content: center;
  padding: 110px 50px 150px 50px;
  color: var(--text-color);
}
@media (max-width: 575.98px) {
  .hero__media {
    padding: 80px 50px 60px 50px;
  }
}

.dashboard {
  position: relative;
  display: flex;
  width: 680px;
  border-radius: 8px 8px 0 0;
  background: var(--dashboard-bg);
  font-size: var(--font-size-media);
}
@media (max-width: 575.98px) {
  .dashboard {
    flex-direction: column;
  }
}
.dashboard-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 3.25px 12px 12px;
}
.dashboard-menu__title {
  font-size: 1.4em;
  font-weight: 600;
}
.dashboard-collection {
  font-size: var(--font-size-media);
}
@media (max-width: 575.98px) {
  .dashboard-collection {
    display: none;
  }
}
.dashboard-collection__title {
  padding-left: 12px;
  font-size: 1.4em;
  font-weight: 600;
  color: var(--text-color-highlight);
}
.dashboard-collection__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  font-size: 1.2em;
}
.dashboard-collection__item--active {
  background: var(--dashboard-task-active-bg);
  color: var(--dashboard-task-active-color);
}
.dashboard-collection__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 5px;
}
.dashboard-collection__icon-1 {
  background: #ae8ff9;
}
.dashboard-collection__icon-2 {
  background: #ff7667;
}
.dashboard-content {
  background: var(--dashboard-content-bg);
  flex: 1;
  margin: 20px 12px 0 0;
  padding: 20px;
}
@media (max-width: 575.98px) {
  .dashboard-content {
    margin: 0;
    padding: 15px;
  }
}
.dashboard-content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-content__back {
  margin-left: 88px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text-color-highlight);
}
.dashboard-content__back-img {
  width: 8px;
  height: 8px;
}
.dashboard-content__back-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background: var(--dashboard-icon-bg);
  border-radius: 6px;
}
.dashboard-content__group-action {
  display: flex;
  align-items: center;
  gap: 60px;
}
.dashboard-content__body {
  margin-top: 8px;
}
.dashboard-task {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}
.dashboard-task__sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  gap: 7px;
  margin-bottom: 7px;
}
.dashboard-task__item {
  position: relative;
  background: var(--dashboard-task-bg);
  padding: 6px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-weight: 300;
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
}
.dashboard-task__item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #0cce84;
  border-radius: 4px;
}
@media (max-width: 575.98px) {
  .dashboard-task__item::before {
    width: 20px;
    height: 12px;
  }
}
.dashboard-task__item::after {
  position: absolute;
  top: 8px;
  left: 16px;
  content: "";
  width: 3px;
  height: 6px;
  border: 1px solid;
  border-color: transparent #9ea1a7 #9ea1a7 transparent;
  rotate: 45deg;
}
@media (max-width: 575.98px) {
  .dashboard-task__item::after {
    top: 6px;
    left: 17px;
    content: "";
    width: 4px;
    height: 12px;
  }
}
.dashboard-task__add {
  position: relative;
  background: #14181b;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 3.2rem;
  color: #f9f9f9;
}
.dashboard-task__add::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #0cce84;
  border-radius: 3px;
}
.dashboard-task__add::after {
  position: absolute;
  content: "+";
  font-size: 1.2em;
  top: 7.5px;
  left: 15px;
}
.dashboard-media {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dashboard-media__info {
  margin-bottom: 0.75em;
  font-size: 1.4em;
  color: var(--text-color-highlight);
}
.dashboard-media__wrap {
  position: relative;
  padding-top: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.dashboard-media__wrap:hover .dashboard-media__footer {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.dashboard-media__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}
.dashboard-media__center {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-media__center.play > .dashboard-media__play {
  visibility: visible;
  opacity: 1;
}
.dashboard-media__center.pause > .dashboard-media__pause {
  visibility: hidden;
  opacity: 0;
}
.dashboard-media__center.pause:hover > .dashboard-media__pause {
  visibility: visible;
  opacity: 1;
}
.dashboard-media__play, .dashboard-media__pause {
  position: absolute;
  background: rgba(255, 254, 254, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.4s;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-media__icon {
  width: 16px;
  height: 16px;
}
@media (max-width: 575.98px) {
  .dashboard-media__icon {
    width: 6px;
    height: 6px;
  }
}
.dashboard-media__icon--play {
  width: 100%;
  padding-left: 2px;
}
.dashboard-media__icon--pause {
  width: 100%;
}
.dashboard-media__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 1.7em 1.7em;
  z-index: 2;
  transition: visibility 0.2s, opacity 0.2s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 575.98px) {
  .dashboard-media__footer {
    gap: 0;
  }
}
.dashboard-media__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 4px;
}
@media (max-width: 575.98px) {
  .dashboard-media__bottom {
    padding: 2px 4px;
  }
}
.dashboard-media__time {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-color-highlight);
}
@media (max-width: 575.98px) {
  .dashboard-media__time {
    font-size: 0.4rem;
    gap: 2px;
  }
}
.dashboard-media__action {
  display: flex;
  gap: 4px;
}
@media (max-width: 575.98px) {
  .dashboard-media__action {
    gap: 0;
  }
}
.dashboard-media__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--sound-btn-padding);
}
.dashboard-media__btn > img {
  width: var(--sound-btn-icon-size);
  height: var(--sound-btn-icon-size);
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5101%) hue-rotate(355deg) brightness(124%) contrast(95%);
}
.dashboard-media__sound {
  position: relative;
}
.dashboard-media__sound-line {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.4s;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 20;
  top: calc(-1 * (var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size)));
  right: calc(var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size));
  width: var(--sound-line-height);
  height: calc(var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size));
  rotate: 90deg;
  transform-origin: bottom right;
}
.dashboard-media__sound-line::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: var(--sound-line-width);
  height: var(--sound-line-height);
  right: calc(var(--sound-line-height) / 2 - 1px);
  rotate: 90deg;
  background: #a6a6a6;
}
.dashboard-media__sound-line--slider {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: calc(var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size));
  writing-mode: vertical-rl;
  height: var(--sound-line-height);
  width: calc(var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size));
  rotate: 90deg;
  transform-origin: bottom left;
  cursor: pointer;
  background: transparent;
  appearance: none;
}
.dashboard-media__sound-line--slider::-webkit-slider-thumb {
  appearance: none;
  background: #f9f9f9;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.dashboard-media__sound-line--value {
  position: absolute;
  right: 0;
  width: var(--sound-line-height);
  height: var(--sound-line-width);
}
.dashboard-media__sound:hover > .dashboard-media__sound-line {
  visibility: visible;
  opacity: 1;
}
.dashboard-media__sound.sound-on > .dashboard-media__sound-off, .dashboard-media__sound.sound-off > .dashboard-media__sound-on {
  display: none;
}
.dashboard-media__loop.active img {
  filter: var(--media-icon-color-active);
}
.dashboard__duration {
  position: relative;
  width: 100%;
  height: 3px;
  background: #30302c;
}
.dashboard__duration--progress, .dashboard__duration--buffered, .dashboard__duration--played {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
}
.dashboard__duration--progress {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  cursor: pointer;
  background: transparent;
  appearance: none;
}
.dashboard__duration--progress::-webkit-slider-thumb {
  appearance: none;
  background: var(--linear-primary-bg);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
@media (max-width: 575.98px) {
  .dashboard__duration--progress::-webkit-slider-thumb {
    width: 8px;
    height: 8px;
  }
}
.dashboard__duration--played {
  position: absolute;
  z-index: 1;
  top: 0;
  background: var(--linear-primary-bg);
}
.dashboard__duration--buffered {
  background: #a6a6a6;
  pointer-events: none;
}
.dashboard-decorator {
  position: absolute;
  z-index: -1;
  font-size: var(--font-size-media);
  display: block;
  border-radius: 50%;
  box-shadow: var(--decorator-shadow);
}
.dashboard-decorator--left {
  bottom: -60px;
  left: -98px;
  width: 72px;
  height: 72px;
  background: var(--linear-decorator-bg);
}
@media (max-width: 575.98px) {
  .dashboard-decorator--left {
    bottom: -21px;
    left: -25px;
  }
}
.dashboard-decorator--right {
  bottom: 40px;
  right: -52px;
  width: 123px;
  height: 123px;
  background: linear-gradient(183deg, #8ae764 1.17%, #e99506 115.87%);
}

.collection {
  position: absolute;
  bottom: -120px;
  left: -60px;
  width: 176px;
  padding: 20px 12px;
  border-radius: 12px;
  background: var(--collection-bg);
}
@media (max-width: 575.98px) {
  .collection {
    display: none;
  }
}
.collection__header {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
.collection__title {
  color: var(--text-color-highlight);
  font-size: 1.4em;
  font-weight: 600;
}
.collection-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.collection-item {
  --collection-icon-width: 26px;
  --collection-background: #ff7667;
  padding: 12px 10px;
  border-radius: 10px;
  background: var(--collection-item-bg);
}
.collection-item__info {
  display: flex;
  gap: 8px;
}
.collection-item__icon {
  width: var(--collection-icon-width);
  height: var(--collection-icon-width);
  border-radius: 10px;
  background: var(--collection-background);
}
.collection-item__name {
  color: var(--text-color-highlight);
  font-size: 1.4rem;
  font-weight: 600;
}
.collection-item__desc {
  margin-top: 8px;
}
.collection-item__progress {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.collection-item__progress--bar {
  position: relative;
  flex: 1;
  height: 2px;
  background: #272633;
}
.collection-item__progress--bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 0.3em;
  background: var(--collection-background);
}
.collection-item--1 {
  --collection-background: #ff7667;
}
.collection-item--2 {
  --collection-background: #ae8ff9;
}
.collection-item--3 {
  --collection-background: #0cce84;
}

.feature {
  --icon-size: 62px;
  --feature-gap: 70px;
  --line-offset: 50px;
  margin: 70px 24px;
  display: flex;
  flex-direction: row;
  gap: var(--feature-gap);
  padding: 71px 50px 53px;
  border-radius: 27px;
  background: #282c30;
}
@media (max-width: 575.98px) {
  .feature {
    margin: 80px 0 0;
    flex-direction: column;
    padding: 54px 57px;
  }
}
.feature__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.feature__item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: calc(var(--icon-size) * 0.5);
  width: calc(var(--feature-gap) + 2 * var(--line-offset));
  right: calc(-1 * (var(--feature-gap) + var(--line-offset)));
  border-bottom: 2px dashed;
  color: #858b93;
}
@media (max-width: 575.98px) {
  .feature__item:not(:last-child)::after {
    top: auto;
    right: auto;
    bottom: calc(var(--feature-gap) * -0.5);
    left: var(--line-offset);
    width: calc(100% - 2 * var(--line-offset));
  }
}
.feature__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
}
.feature__icon > img {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5101%) hue-rotate(355deg) brightness(124%) contrast(95%);
}
.feature__icon--green {
  background: #0cce84;
}
.feature__icon--orange {
  background: #ef8f00;
}
.feature__icon--purple {
  background: #ae8ff9;
}
.feature__title {
  margin-top: 31px;
  color: var(--text-color-highlight);
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 145.455%;
}
@media (max-width: 575.98px) {
  .feature__title {
    text-align: center;
  }
}
.feature__desc {
  margin-top: 5px;
  color: #858b93;
  font-size: 1.6rem;
  line-height: 162.5%;
  text-align: center;
}
@media (max-width: 575.98px) {
  .feature__desc {
    margin-top: 11px;
  }
}

.daily-task {
  display: flex;
  gap: 20px;
  margin-top: 140px;
}
@media (max-width: 767.98px) {
  .daily-task {
    flex-direction: column;
  }
}
.daily-task__left {
  flex: 0.45;
  margin-top: 16px;
}
.daily-task__title {
  color: #f9f9f9;
  font-size: 4rem;
  font-weight: 600;
  line-height: normal;
  max-width: 368px;
}
.daily-task__highlight {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.daily-task__desc {
  margin-top: 22px;
  color: #858b93;
  font-size: 1.6rem;
  line-height: 162.5%;
}
.daily-task__input:checked + .daily-task__act-btn {
  border-radius: 9px;
  background: linear-gradient(192deg, #c4f566 -43.72%, #ae8ef9 -5.87%, #ef8f00 52.36%, #61e559 122.78%);
}
.daily-task__acts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.daily-task__act-btn {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #272633;
  cursor: pointer;
}
.daily-task__act-btn:not(:last-child) {
  margin-right: 3px;
}
.daily-task__info {
  display: flex;
  flex-direction: column;
}
.daily-task__list {
  margin-top: 86px;
  display: flex;
  gap: 17px;
}
@media (max-width: 575.98px) {
  .daily-task__list {
    margin-top: 37px;
    justify-content: center;
    transform: scale(0.8);
  }
}
.daily-task__item {
  width: 132px;
  height: 127px;
  border-radius: 9px;
  background: #272633;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 15px;
}
.daily-task__item:nth-of-type(2) {
  border-radius: 9px;
  background: linear-gradient(192deg, #c4f566 -43.72%, #ae8ef9 -5.87%, #ef8f00 52.36%, #61e559 122.78%);
}
@media (max-width: 575.98px) {
  .daily-task__item:nth-of-type(2) {
    z-index: 1;
    margin: 95px -22px;
  }
}
.daily-task__item-title {
  color: #f9f9f9;
  font-size: 3rem;
  font-weight: 600;
  line-height: normal;
}
.daily-task__item-desc {
  color: #f9f9f9;
  font-size: 1.6rem;
  line-height: 162.5%;
}
@media (max-width: 575.98px) {
  .daily-task__act {
    display: none;
  }
}
.daily-task__right {
  position: relative;
  display: flex;
  flex: 0.55;
}
@media (max-width: 575.98px) {
  .daily-task__right {
    transform: scale(0.5);
  }
}
.daily-task__diagram {
  margin: 35px 50px;
  width: 364px;
  height: 364px;
}
.daily-task__circle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6aea5c;
  width: 209px;
  height: 209px;
  border-radius: 50%;
  border: 40px solid rgba(28, 60, 27, 0.6509803922);
}
.daily-task__circle::after {
  content: "";
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  border: 2px dashed #2f2f2f;
  border-radius: 50%;
  pointer-events: none;
}
.daily-task__circle::before {
  content: "";
  position: absolute;
  top: -180px;
  left: -180px;
  right: -180px;
  bottom: -180px;
  border: 2px dashed #2f2f2f;
  border-radius: 50%;
  pointer-events: none;
}
.daily-task__rectangle {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  gap: 16px;
  rotate: 12deg;
  transform-origin: top left;
}
.daily-task__rectangle-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.daily-task__rectangle-group--among {
  margin-top: -70px;
}
.daily-task__rectangle-item {
  width: 150px;
  height: 200px;
  background: var(--rectangle-item-bg);
}
.daily-task__node {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  width: 160px;
  height: 44px;
  border-radius: 5px;
  background: var(--node-bg);
  padding: 15px;
}
.daily-task__node--1, .daily-task__node--2, .daily-task__node--3, .daily-task__node--4 {
  position: absolute;
}
.daily-task__node--1 {
  height: 60px;
  width: 225px;
  top: 20px;
  left: -44px;
}
.daily-task__node--2 {
  top: 16px;
  right: -16px;
}
.daily-task__node--3 {
  flex-direction: row-reverse;
  width: 184px;
  left: -30px;
  bottom: 178px;
}
.daily-task__node--4 {
  bottom: 120px;
  right: -10px;
}
.daily-task__node-title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(93deg, #c4f566 -11.2%, #ff6e6e 123.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.daily-task__node-icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #363a3e;
  border-radius: 50%;
}
.daily-task__node-icon--play::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid orange; /* màu play */
}
.daily-task__node-icon--send::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /* Tạo máy bay bằng tam giác */
  width: 0;
  height: 0;
  border-left: 10px solid orange;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.topbar {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
@media (max-width: 575.98px) {
  .topbar {
    justify-content: space-between;
  }
}

.navbar__list {
  display: flex;
  font-size: 1.6rem;
  line-height: 150%;
}
.navbar__item {
  color: var(--text-color);
}
.navbar__item-link {
  height: 40px;
  display: flex; /* Quan trọng */
  align-items: center;
  padding: 12px 18px;
}
.navbar__item--active {
  position: relative;
  color: #f9f9f9;
}
.navbar__item--active::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 20px;
  width: 20px;
  height: 2px;
  background: #6aea5c;
}

.top-act {
  display: flex;
  align-items: center;
}
.top-act__signin {
  --btn-width: 110px;
  --btn-height: 40px;
  height: 30px;
  font-size: 1.2rem;
  line-height: 100%;
}
@media (max-width: 575.98px) {
  .top-act__signin {
    --btn-width: 80px;
  }
}
.top-act__more {
  padding: 10px 0;
  margin-left: 34px;
}

.btn {
  height: 55px;
  border-radius: 8px;
  padding: 0 40px;
  background: var(--btn-bg);
  color: #f9f9f9;
  font-size: 1.6rem;
  line-height: 100%; /* 150% */
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .btn {
    padding: 8px 18px;
    height: 40px;
  }
}
.btn__special-text {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.btn--small {
  height: 40px;
}
.btn + .btn :not(.btn--no-margin) {
  margin-left: 20px;
}
.btn--text {
  background: transparent;
  font-weight: 400;
}
.btn--primary {
  color: #f9f9f9;
  background: var(--linear-primary-bg);
  line-height: 162.5%;
}
.btn--outline {
  color: transparent;
  background: var(--linear-primary-bg);
  background: transparent;
  border: 1px solid #d2d1d6;
}
.btn--rounded {
  border-radius: 99px;
}
.btn--danger {
  color: #fff;
  background: #ed4337;
}
.btn[disabled], .btn--disable {
  opacity: 0.5;
  pointer-events: none;
}
.btn:hover {
  opacity: 0.85;
}

/*# sourceMappingURL=main.css.map */
