@use "../abstracts";

.dashboard {
  position: relative;
  display: flex;
  width: 680px;
  border-radius: 8px 8px 0 0;
  background: var(--dashboard-bg);
  font-size: var(--font-size-media);

  @include abstracts.screen(sm) {
    flex-direction: column;
  }

  &-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 3.25px 12px 12px;

    &__title {
      font-size: 1.4em;
      font-weight: 600;
    }
  }

  &-collection {
    font-size: var(--font-size-media);

    @include abstracts.screen(sm) {
      display: none;
    }

    &__title {
      padding-left: 12px;
      font-size: 1.4em;
      font-weight: 600;
      color: var(--text-color-highlight);
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 12px;
      font-size: 1.2em;

      &--active {
        background: var(--dashboard-task-active-bg);
        color: var(--dashboard-task-active-color);
      }
    }

    &__icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 5px;

      &-1 {
        background: #ae8ff9;
      }

      &-2 {
        background: #ff7667;
      }
    }
  }

  &-content {
    background: var(--dashboard-content-bg);
    flex: 1;
    margin: 20px 12px 0 0;
    padding: 20px;

    @include abstracts.screen(sm) {
      margin: 0;
      padding: 15px;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__back {
      margin-left: 88px;
      display: flex;
      align-items: center;
      gap: 6px;
      color: var(--text-color-highlight);

      &-img {
        width: 8px;
        height: 8px;
      }

      &-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        background: var(--dashboard-icon-bg);
        border-radius: 6px;
      }
    }

    &__group-action {
      display: flex;
      align-items: center;
      gap: 60px;
    }

    &__body {
      margin-top: 8px;
    }
  }

  &-task {
    display: flex;
    flex-direction: column;
    margin-right: 16px;

    &__sort {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1rem;
      gap: 7px;
      margin-bottom: 7px;
    }

    &__item {
      position: relative;
      background: var(--dashboard-task-bg);
      padding: 6px 12px;
      border-radius: 8px;
      margin-bottom: 8px;
      font-weight: 300;
      display: flex;
      align-items: center;
      column-gap: 3.2rem;

      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid #0cce84;
        border-radius: 4px;

        @include abstracts.screen(sm) {
          width: 20px;
          height: 12px;
        }
      }

      &::after {
        position: absolute;
        top: 8px;
        left: 16px;
        content: "";
        width: 3px;
        height: 6px;
        border: 1px solid;
        border-color: transparent #9ea1a7 #9ea1a7 transparent;
        rotate: 45deg;

        @include abstracts.screen(sm) {
          top: 6px;
          left: 17px;
          content: "";
          width: 4px;
          height: 12px;
        }
      }
    }

    &__add {
      position: relative;
      background: #14181b;
      padding: 6px 12px;

      border-radius: 8px;
      font-weight: 600;
      display: flex;
      align-items: center;
      column-gap: 3.2rem;
      color: #f9f9f9;

      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #0cce84;
        border-radius: 3px;
      }

      &::after {
        position: absolute;
        content: "+";
        font-size: 1.2em;
        top: 7.5px;
        left: 15px;
      }
    }
  }

  &-media {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__info {
      margin-bottom: 0.75em;
      font-size: 1.4em;
      color: var(--text-color-highlight);
    }

    &__wrap {
      position: relative;
      padding-top: 100%;
      height: 100%;
      width: 100%;
      overflow: hidden;

      &:hover .dashboard-media__footer {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 14px;
    }

    &__center {
      position: absolute;
      width: 100%;
      height: 50px;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.play > .dashboard-media__play {
        visibility: visible;
        opacity: 1;
      }

      &.pause > .dashboard-media__pause {
        visibility: hidden;
        opacity: 0;
      }

      &.pause:hover > .dashboard-media__pause {
        visibility: visible;
        opacity: 1;
      }
    }

    &__play,
    &__pause {
      position: absolute;
      background: rgba(255, 254, 254, 0.7);
      visibility: hidden;
      opacity: 0;
      transition: visibility, opacity 0.4s;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      width: 16px;
      height: 16px;

      @include abstracts.screen(sm) {
        width: 6px;
        height: 6px;
      }

      &--play {
        width: 100%;
        padding-left: 2px;
      }

      &--pause {
        width: 100%;
      }
    }

    &__footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 0 0 1.7em 1.7em;
      z-index: 2;
      transition: visibility 0.2s, opacity 0.2s;

      // Mặc định ẩn
      visibility: hidden;
      opacity: 0;
      pointer-events: none;

      @include abstracts.screen(sm) {
        gap: 0;
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4px;
      padding: 4px;

      @include abstracts.screen(sm) {
        padding: 2px 4px;
      }
    }

    &__time {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 4px;
      color: var(--text-color-highlight);

      @include abstracts.screen(sm) {
        font-size: 0.4rem;
        gap: 2px;
      }
    }

    &__action {
      display: flex;
      gap: 4px;

      @include abstracts.screen(sm) {
        gap: 0;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--sound-btn-padding);

      & > img {
        width: var(--sound-btn-icon-size);
        height: var(--sound-btn-icon-size);
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
          saturate(5101%) hue-rotate(355deg) brightness(124%) contrast(95%);
      }
    }

    &__sound {
      position: relative;

      &-line {
        visibility: hidden;
        opacity: 0;
        transition: visibility, opacity 0.4s;

        position: absolute;
        display: flex;
        align-items: center;
        z-index: 20;
        top: calc(
          -1 * (var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size))
        );
        right: calc(var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size));
        width: var(--sound-line-height);
        height: calc(var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size));
        rotate: 90deg;
        transform-origin: bottom right;

        &::after {
          position: absolute;
          z-index: -1;
          content: "";
          width: var(--sound-line-width);
          height: var(--sound-line-height);
          right: calc(var(--sound-line-height) / 2 - 1px);
          rotate: 90deg;
          background: #a6a6a6;
        }

        &--slider {
          position: absolute;
          z-index: 1;
          left: 0;
          bottom: calc(
            var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size)
          );
          writing-mode: vertical-rl;
          height: var(--sound-line-height);
          width: calc(
            var(--sound-btn-padding) * 2 + var(--sound-btn-icon-size)
          );
          rotate: 90deg;
          transform-origin: bottom left;
          cursor: pointer;
          background: transparent;
          appearance: none;

          &::-webkit-slider-thumb {
            appearance: none;
            background: #f9f9f9;
            height: 10px;
            width: 10px;
            border-radius: 50%;
          }
        }

        &--value {
          position: absolute;
          right: 0;
          width: var(--sound-line-height);
          height: var(--sound-line-width);
        }
      }
      &:hover > .dashboard-media__sound-line {
        visibility: visible;
        opacity: 1;
      }

      &.sound-on > &-off,
      &.sound-off > &-on {
        display: none;
      }
    }

    &__loop.active img {
      filter: var(--media-icon-color-active);
    }
  }

  &__duration {
    position: relative;
    width: 100%;
    height: 3px;
    background: #30302c;

    &--progress,
    &--buffered,
    &--played {
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
    }

    &--progress {
      position: absolute;
      z-index: 10;
      top: 0;
      width: 100%;
      cursor: pointer;
      background: transparent;
      appearance: none;

      &::-webkit-slider-thumb {
        appearance: none;
        background: var(--linear-primary-bg);
        width: 12px;
        height: 12px;
        border-radius: 50%;

        @include abstracts.screen(sm) {
          width: 8px;
          height: 8px;
        }
      }
    }

    &--played {
      position: absolute;
      z-index: 1;
      top: 0;
      background: var(--linear-primary-bg);
    }

    &--buffered {
      background: #a6a6a6;
      pointer-events: none;
    }
  }

  &-decorator {
    position: absolute;
    z-index: -1;
    font-size: var(--font-size-media);
    display: block;
    border-radius: 50%;
    box-shadow: var(--decorator-shadow);

    &--left {
      bottom: -60px;
      left: -98px;
      width: 72px;
      height: 72px;
      background: var(--linear-decorator-bg);

      @include abstracts.screen(sm) {
        bottom: -21px;
        left: -25px;
      }
    }

    &--right {
      bottom: 40px;
      right: -52px;
      width: 123px;
      height: 123px;
      background: linear-gradient(183deg, #8ae764 1.17%, #e99506 115.87%);
    }
  }
}

.collection {
  position: absolute;
  bottom: -120px;
  left: -60px;
  width: 176px;
  padding: 20px 12px;
  border-radius: 12px;
  background: var(--collection-bg);

  @include abstracts.screen(sm) {
    display: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
  }

  &__title {
    color: var(--text-color-highlight);
    font-size: 1.4em;
    font-weight: 600;
  }

  &-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &-item {
    --collection-icon-width: 26px;
    --collection-background: #ff7667;
    padding: 12px 10px;
    border-radius: 10px;
    background: var(--collection-item-bg);

    &__info {
      display: flex;
      gap: 8px;
    }

    &__icon {
      width: var(--collection-icon-width);
      height: var(--collection-icon-width);
      border-radius: 10px;
      background: var(--collection-background);
    }

    &__name {
      color: var(--text-color-highlight);
      font-size: 1.4rem;
      font-weight: 600;
    }

    &__desc {
      margin-top: 8px;
    }

    &__progress {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 6px;

      &--bar {
        position: relative;
        flex: 1;
        height: 2px;
        background: #272633;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 25px;
          height: 0.3em;
          background: var(--collection-background);
        }
      }
    }

    &--1 {
      --collection-background: #ff7667;
    }

    &--2 {
      --collection-background: #ae8ff9;
    }

    &--3 {
      --collection-background: #0cce84;
    }
  }
}
