.feature {
  margin-top: 170px;
  padding: 150px 50px;
  color: var(--text-color-highlight);

  &__process {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 98px;

    &-background {
      position: absolute;
      width: 80%;
      height: 80%;
      border-radius: 267px;
      background: linear-gradient(
        180deg,
        #6aea5c 0%,
        #fd7566 48.53%,
        #ef8f00 100%
      );
      filter: blur(66px);
    }
  }

  &__dashline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
  }

  &__timeline {
    position: relative;
    width: 1px;
    height: 378px;

    &-progress {
      position: absolute;
      top: 87px;

      transform: translateX(-50%);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;

      width: 144px;
      height: 66px;

      background: rgba(255, 255, 255, 0.36);
      backdrop-filter: blur(15px);
      border-radius: 5px;

      &::before {
        content: "";
        position: absolute;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #ffffff5c;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
  }

  &__timeline--horizontal {
    background-image: repeating-linear-gradient(
      to bottom,
      #ccc 0 8px,
      transparent 8px 12px
    );
  }

  &__box {
    --box-height: 62px;
    position: absolute;

    &-avatar {
      width: var(--box-icon-rounded);
      height: var(--box-icon-rounded);
      border-radius: 50%;
      object-fit: cover;
    }

    &--1 {
      position: absolute;
      bottom: 80px;
      left: -20px;
    }

    &--2 {
      flex-direction: row-reverse;
      top: 0;
      left: -31px;
    }

    &--3 {
      bottom: 145px;
      right: -40px;
    }
  }

  &__text--highlight {
    background: var(--linear-primary-bg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__info-group {
    margin-top: 40px;
  }

  &__title {
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }

  &__info {
    display: flex;

    &-group {
      margin-top: 23px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-group {
      display: flex;
      align-items: center;
    }

    &-icon {
      position: relative;
      width: 18px;
      height: 18px;

      border: 1px solid #fdfdfd;
      border-radius: 6px;
      background: var(--linear-primary-bg);

      flex-shrink: 0;

      &::after {
        position: absolute;
        top: 2px;
        left: 5px;
        content: "";
        width: 7px;
        height: 10px;
        border: 1px solid;
        border-color: transparent transparent #fdfdfd #fdfdfd;
        rotate: -50deg;
      }
    }

    &-title {
      margin-left: 5px;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 155.556%;
      word-break: break-word;
    }

    &-desc {
      color: var(--text-color);

      font-size: 1.4rem;
      line-height: 171.429%;
    }
  }
}
