@use "../abstracts";

.hero {
  padding: 90px 0 70px;

  @include abstracts.screen(sm) {
    position: relative;
    padding: 0 22px;
    margin-top: 32px;
  }

  &__content {
    display: flex;
    gap: 20px;
    padding: 0 28px;

    @include abstracts.screen(sm) {
      padding: 0;
    }
  }

  &__decorator {
    background: var(--linear-decorator-bg);
    box-shadow: var(--decorator-shadow);
    border-radius: 50%;

    display: block;

    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      @include abstracts.screen(sm) {
        position: absolute;
        flex-direction: row;
        gap: 10px;

        &-left {
          top: 0;
          left: 50px;
        }

        &-right {
          right: 27px;
          top: 160px;
          flex-direction: column;
        }
      }
    }

    &--large {
      width: 120px;
      height: 120px;

      @include abstracts.screen(sm) {
        width: calc(var(--decorator-width) / 4);
        height: calc(var(--decorator-height) / 4);
      }
    }

    &--medium {
      width: 40px;
      height: 40px;

      @include abstracts.screen(sm) {
        width: calc(var(--decorator-width) / 6);
        height: calc(var(--decorator-height) / 6);
      }
    }

    &--small {
      width: 25px;
      height: 25px;

      @include abstracts.screen(sm) {
        width: calc(var(--decorator-width) / 9);
        height: calc(var(--decorator-height) / 9);
      }
    }

    &--extra-small {
      width: 14px;
      height: 14px;

      @include abstracts.screen(sm) {
        width: calc(var(--decorator-width) / 13);
        height: calc(var(--decorator-height) / 13);
      }
    }
  }

  &__main {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    color: #f9f9f9;

    font-size: 6rem;
    font-weight: 700;
    line-height: 116.667%;

    @include abstracts.screen(sm) {
      font-size: 3rem;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__management {
    --decorator-width: 10px;
    position: relative;
    display: inline-flex;
    border: 1px dashed #fff;

    &--decorator {
      position: absolute;
      width: min(var(--decorator-width, 9px));
      height: 10px;
    }

    &--decorator-1 {
      background: #ae8ff9;
      top: calc(-1 * var(--decorator-width));
      left: calc(-1 * var(--decorator-width));
      border-radius: 50% 50% 0 50%;
    }
    &--decorator-2 {
      background: #ef8f00;
      top: calc(-1 * var(--decorator-width));
      right: calc(-1 * var(--decorator-width));
      border-radius: 50% 50% 50% 0;
    }
    &--decorator-3 {
      background: #ff7667;
      bottom: calc(-1 * var(--decorator-width));
      left: calc(-1 * var(--decorator-width));
      border-radius: 50% 0 50% 50%;
    }
    &--decorator-4 {
      background: #0cce84;
      bottom: calc(-1 * var(--decorator-width));
      right: calc(-1 * var(--decorator-width));
      border-radius: 0 50% 50% 50%;
    }
  }

  &__highlight {
    background: var(--linear-primary-bg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__desc {
    margin-top: 34px;
    max-width: 447px;

    color: #858b93;

    font-size: 1.6rem;
    line-height: 162.5%;
  }

  &__actions {
    margin-top: 44px;

    display: flex;
    justify-content: center;
    padding: 0 15px;
    gap: 20px;

    @include abstracts.screen(md) {
      flex-direction: column;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: normal;
    }

    &-btn {
      width: 200px;
      @include abstracts.screen(md) {
        --btn-height: 39px;
        --btn-width: 143px;
      }
    }
  }

  &__media {
    display: flex;
    justify-content: center;
    padding: 110px 50px 150px 50px;

    color: var(--text-color);

    @include abstracts.screen(sm) {
      padding: 80px 50px 60px 50px;
    }
  }
}
