@use "../abstracts";
// Buttons
.btn {
  height: 55px;
  border-radius: 8px;
  padding: 0 40px;
  background: var(--btn-bg);
  color: #f9f9f9;

  font-size: 1.6rem;
  line-height: 100%; /* 150% */
  white-space: nowrap;

  user-select: none;

  overflow: hidden;

  @include abstracts.screen(md) {
    padding: 8px 18px;
    height: 40px;
  }

  &__special-text {
    background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  &--small {
    height: 40px;
  }

  + .btn {
    :not(.btn--no-margin) {
      margin-left: 20px;
    }
  }

  &--text {
    background: transparent;
    font-weight: 400;
  }

  &--primary {
    color: #f9f9f9;
    background: var(--linear-primary-bg);
    line-height: 162.5%;
  }

  &--outline {
    color: transparent;
    background: var(--linear-primary-bg);
    background: transparent;
    border: 1px solid #d2d1d6;
  }

  &--rounded {
    border-radius: 99px;
  }

  &--danger {
    color: #fff;
    background: #ed4337;
  }

  &[disabled],
  &--disable {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    opacity: 0.85;
  }
}
