@use "../abstracts";

.topbar {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  @include abstracts.screen(sm) {
    justify-content: space-between;
  }
}

.logo {
  @include abstracts.screen(sm) {
  }
}

.navbar {
  &__list {
    display: flex;

    font-size: 1.6rem;
    line-height: 150%;
  }

  &__item {
    color: #858b93;

    &-link {
      height: 40px;
      display: flex; /* Quan trọng */
      align-items: center;
      padding: 12px 18px;
    }
  }

  &__item--active {
    position: relative;
    color: #f9f9f9;

    &::before {
      content: "";
      position: absolute;
      bottom: 8px;
      left: 20px;
      width: 20px;
      height: 2px;
      background: #6aea5c;
    }
  }
}

.top-act {
  display: flex;
  align-items: center;

  @include abstracts.screen(sm) {
  }

  &__signin {
    --btn-width: 110px;
    --btn-height: 40px;

    height: 30px;

    font-size: 1.2rem;
    line-height: 100%;

    @include abstracts.screen(sm) {
      --btn-width: 80px;
    }
  }

  &__more {
    padding: 10px 0;
    margin-left: 34px;
  }
}
